html<h2>New Booking</h2>
<form method="POST">
  Name: <input name="name"><br>
  Phone: <input name="phone"><br>
  Date: <input name="date" type="date"><br>
  Time: <input name="time" type="time"><br>
  Pax: <input name="pax" type="number"><br>
  <button>Create</button>
</form>
<a href="/">Back</a>
